head
	link(rel='stylesheet', href='materialize.min.css')
	link(rel='stylesheet', href='style.css')
h5#title
	<img src="logo-singe-savant.png" class="logo" /> <center><b>Comment monter sa brasserie de A à Z ?</b></center>
h6#subtitle
	<center><b>Les standards de raccordement en brasserie</b></center>
table
	tr(style=" border:none;")
		td
			p(style="text-align:justify;")
				<b>Macon</b> : Raccord utilisée dans le viticole. Il n’est pas recommandé pour l’alimentaire. Il nécessite un dégagement vers l'arrière pour être démontable. 
		td
			p(style="text-align:justify;")
				<b>DIN</b>: Raccord alimentaire utilisé en laiterie et autres industries agroalimentaires. Il est peu utilisé en France et nécessite un dégagement vers l'arrière pour être démontable.
	tr(style=" border:none;")
		td
			img(src="MACON.jpg" align="center" width="400px" height="280px")
		td
			img(src="DIN.jpg" align="center" width="400px" height="280px")
	tr(style=" border:none;")
		td
			p(style="text-align:justify;") 
				<b>Clamp</b> : Raccord le plus hygiénique, adapté aux industries pharmaceutiques et alimentaires. Il existe des raccords clamps pour toutes les gammes de diamètres de tubes (DIN, ISO, SMS, etc...)
		td
			p(style="text-align:justify;") <b>SMS</b>: Raccord alimentaire utilisé essentiellement en France, dans les laiteries et autres industries agroalimentaires. En brasserie, le principal avantage est la possibilité de trouver facilement des pièces d’occasion.
	tr(style=" border:none;")
		td
			img(src="CLAMP.jpg" align="center" width="400px" height="280px")
		td
			img(src="SMS.jpg" align="center" width="400px" height="280px")