head
	link(rel='stylesheet', href='materialize.min.css')
	link(rel='stylesheet', href='style.css')
h5#title
	<img src="logo-singe-savant.png" class="logo" /> <center><b>Comment monter sa brasserie de A à Z ?</b></center>
h6#subtitle
	<center><b>Recette de fabrication de la bière</b></center>
.content
	<u>Les ingrédients</u>
	ul.list-ingredients
		li Du malt de céréales (ou de l'extrait de malt)
		li Du houblon
		li Des graines des spécialités
		li De la levure (les variétés dépendent de quel type de bière vous voulez brasser et tous ces ingrédients existent en kits)
