head
	link(rel='stylesheet', href='../style/materialize.min.css')
	link(rel='stylesheet', href='../style/style.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
h5#title
	<img src="logo-singe-savant.png" class="logo" /> <center><b>Comment monter sa brasserie de A à Z ?</b></center>
h6#subtitle
	<center><b>Recette de fabrication de la bière</b></center>
.content
	<i class="material-icons">format_list_numbered</i> <u>Les ingrédients</u>
	ul
		li Du malt de céréales (ou de l'extrait de malt)
		li Du houblon
		li Des graines des spécialités
		li De la levure (les variétés dépendent de quel type de bière vous voulez brasser et tous ces ingrédients existent en kits)
	<i class="material-icons">build</i><u>Les outils nécessaires</u>
	ul
		li Une grande marmite qui peut contenir 12 litres minimum. De préférence avec un couvercle.
		li Un seau alimentaire de 20 à 23 litres avec une fermeture étanche à l'air (ou une bonbonne en verre). Un deuxième seau équipé d’un robinet en bas est recommandé.
		li Un barboteur (se trouve en boutiques spécialisées)
	<i class="material-icons">clear</i><u>A ne pas faire :</u> 
	ul
		li Gratter les surfaces des cuves avec un outil qui les égratigne. Cela pourrait permettre un développement bactérien
		li Nettoyer les ustensiles et outils de travail à l’eau 
		li Utiliser de l’eau de javel ou du liquide vaisselle pour le nettoyage
	<i class="material-icons">check</i><u>Astuces :</u>
	ul
		li Prenez un carnet pour notes les étapes essentielles
		li Préparez les quantités exactes d’ingrédients nécessaires
		li Préparez les ustensiles nécessaires
	<i class="material-icons">error</i><u>Impératif :</u> 80 % du secret pour le succès est la propreté. Il est important de nettoyer et de désinfecter tout ce qui sera en contact avec votre bière. Privilégiez des nettoyants alimentaires ou des nettoyants comme One Step No-Rinse Sanitizer ou Starsan, qui ne requiert pas de rinçage, ou une solution à l'iode comme BTF Iodophor.
	<h4>La recette</h4> 
	<u>Etape 1 : Infusion</u>
	ul
		li Mettre le malt et grains spéciaux dans un sachet d'empâtage
		li Faire tremper le sachet dans la cuve de brassage dans 10 litres d'eau chaude (à environ 65 °C). 30 minutes après, enlever le sachet de malt. Laisser le sachet égoutter mais ne pas le presser !
	<u>Etape 2 : Ébullition</u>
	ul
		li Faire chauffer le moût à 100°C pendant 1 heure environ
		li Ajouter le houblon à l’infusion de malte (le moût). L’ajout peut se faire à différents moments de l’ébulliton selon le goût souhaité.
	<u>Etape 3 : Refroidissement</u><br />
		p Il faut désormais faire refroidir le moût rapidement. 
		p Il existe deux solutions : Un système de refroidissement professionnel ou plonger la cuve dans de l’eau glacée (dans un évier par exemple). 
		p <u>La température doit être en dessous des 25°C en quelques minutes, auquel cas il peut y avoir un développement bactérien donnant une bière imbuvable.</u>
	<u>Etape 4 : Fermentation</u><br />
		ul
			li Une fois le mout refroidi, le transférer dans le seau alimentaire (ce sera le fermenteur). Ne pas hésiter à faire "éclabousser" le mout pour y ajouter de l'oxygène. 
			li Ajouter votre levure et fermer le seau. 
			li Ajouter le barboteur sur le couvercle et placer le seau dans un endroit sombre avec une température ambiante stable (environ 18 °C pour faire des ales, environ 12 °C pour faire des lagers pour avoir une bonne fermentation). 
		p Après environ 24 heures, le barboteur devrait commencer à buller. Si rien ne se passe après 48 heures, il y a probablement un souci avec la levure.

