.report-sidebar: p Comment créer sa brasserie de A à Z ?

h1#title Le Système de Refroidissement

.summary.ui.piled.segment: span.

  Dans cette partie, nous allons détailler la constitution du groupe 
  froid puis expliquer comment s'effectue la régulation de la température 
  ainsi que quelques détails sur la matériel utilisé. Enfin, un schéma de fonctionnement de l'ensemble du système.

:markdown-it

  ## Le groupe froid
  Il est constitué de :
  - Une **tireuse à bière de bar** en retirant les serpentins à l’intérieur.
  - Une **pompe de circulation**.

  Il peut être utile d’utiliser un réfractomètre (spécial glycol) pour déterminer la quantité de glycol nécessaire pour atteindre une température précise
.illustration.ui.raised.segment
  img(src="images/glycol_temp.png")

// Bloc d'information
.ui.container
  .ui.icon.message.blue.block-center
    i.info.outline.icon
    .content
      .header Informations utiles
      ul
        li Mettre le groupe froid au maximum <i>(de -5°C à -10°C)</i>.
        li Afin que l'eau ne gèle pas, ajouter du <b>glycol</b> afin de faire baisser le point de fusion.
        li N'hésitez pas à consulter une table de correspondance permettant de connaître la quantité de glycol à diluer pour avoir la température désirée.
     
// Bloc d'avertissement
.ui.container
  .ui.icon.message.orange.block-center
    i.warning.outline.icon
    .content
      .header Attention !
      ul
        li Ce système fonctionne si la température moyenne ambiante est <b>tempérée</b> <i>(environ 20°C par exemple)</i>. S’il fait trop chaud, ce ne sera pas suffisant.
        li Pour le groupe froid, la pompe utilisée pour le départ de l'eau froide <b>doit être placée le plus loin possible du point de retour</b> <i>(afin de ne pas créer de boucle et de réutiliser toujours la même eau)</i>.
        li <b>Ne pas placer le groupe froid à côté d'un mur et/ou à côté de la cuve à refroidir</b> car le système dégage beaucoup de chaleur. Il faut faire en sorte que la chaleur soit bien évacuée.
        li <b>Le flux d’eau froide doit arriver par le bas du fermenteur afin de ne pas créer de bulles d’air. La sortie, quant à elle, doit s’effectuer par le haut du fermenteur.</b>


:markdown-it(html=true)

  ## Régulation de température

  La régulation de la température du fermenteur se fait à l’aide d’une carte BrewBlox qui va piloter des électrovannes pour réguler le flux d’arrivée du froid. Celles-ci doivent être placées à proximité du fermenteur.
  Un capteur de température (qui rentre dans le fermenteur) est également connecté à la carte BrewBlow.

  ## Détails sur le matériel
  Pour la **pompe de circulation**, utilisez une pompe de service continu, alimentée en 12V, immergeable, avec une entrée sur le côté et la sortie vers le haut *(Par exemple, une pompe de chauffe eau solaire)*.

// Bloc de recommandation
.ui.container
  .ui.icon.message.green.block-center
    i.thumbs.up.outline.icon
    .content
      .header Recommandation
      p Gamme Topsflo <i>(Pression minimale : 0,5 bar / Débit minimum : 8L/min)</i>

:markdown-it(html=true)
  En ce qui concerne le **circuit de distribution**, 2 nourrices *(départ et retour)* de chauffage central sont utilisées. Utiliser des nourrices avec des vannes d’arrêt pour faciliter la maintenance. 
  Les tubes utilisés sont des tubes en silicone, peu chers, flexibles et faciles à utiliser.
  
  ## Schéma de fonctionnement général

.illustration.ui.raised.segment
  img(src="images/schema-fonctionnement.png")

:markdown-it
  ## Raccordements


  Pour les raccords réalisés, utiliser des joints EPDM de préférence, ou bien des joints de plomberie. Pour les raccord qui n’ont pas de fond plat, enrouler du téflon autour (utiliser du téflon haute densité et ne pas faire plus de 4 tours pour assurer une bonne étanchéité).

.illustration.ui.raised.segment
    img(src="images/schema-electrovanne.png")

:markdown-it(html=true)
  ## Inventaire des pièces nécessaires

figure.block-center
  table.ui.celled.table
    thead
      tr
        th Pièce
        th Prix moyen unitaire HT
        th Quantité minimale estimée (pour 1 fermenteur)
        th Prix moyen HT x quantité
        th Image/Lien
    tbody
      tr
        td Tube en silicone (en mètres)
        td 5,00 €
        td 50
        td 250,00 €
        td <a href="https://store.brewpi.com/featured/silone-hose-tubing-fda-grade-12mm-id-20mm-od"  target="_blank"><img src="images/tuyau.png" /></a>
      tr
        td Réducteur 1" - 1/2"
        td 4,00 €
        td 2
        td 8,00 €
        td <a href="https://discount-plomberie.com/raccords-laiton-a-visser/290-mamelon-reduit-laiton-a-visser.html?bt_product_attribute=5911&gclid=Cj0KCQiAoIPvBRDgARIsAHsCw0-RT4tw0Vu9BfUNOCYRTM4Cmjycxf5BkhwTaDgs1y62Uk9EvJvv0IQaAsixEALw_wcB#" target="_blank"><img src="images/mamelon-reduit.png" /></a>
      tr
        td Adaptateur 1/2"
        td 16,00 €
        td 2
        td 32,00 €
        td <a href="https://fr.rs-online.com/web/p/adaptateurs-filetes-droits/3675641/" target="_blank"><img src="images/raccord-1_2.png" /></a>
      tr
        td Electrovanne
        td 17,00 €
        td 1
        td 17,00 €
        td <a href="https://fr.rs-online.com/web/p/electrovannes/0342023/" target="_blank"><img src="images/electrovanne.png" /></a>
      tr
        td Pompe (jusqu'à 4 fermenteurs)
        td 40,00 €
        td 1
        td 40,00 €
        td <a href="http://www.topsflo.com/dc-brushless-pump/tl-c01.html" /><img src="images/pompe.png" /></a>
      tr 
        td Nourrice-Collecteur
        td 20,00 €
        td 2
        td 40,00 €
        td <a href="https://www.manomano.fr/p/collecteur-simple-composable-avec-vanne-darret-caleffi-354-5-derivazioni-6299611" /><img src="images/nourrice.jpg" /></a>
      tr 
        td Réducteur 3/4" - 1/2"
        td 5,00 €
        td 6
        td 30,00 €
        td <a href="https://www.manomano.fr/p/reduction-femelle-femelle-raccords-6111012?model_id=6111013" /><img src="images/reducteur-3_4-1_2.png" /></a>
      tr 
        td Capteur température fermenteur
        td 32,00 €
        td 1
        td 32,00 €
        td <a href="https://store.brewpi.com/featured/wall-mounted-onewire-temperature-sensor-for-kettle-or-fementor-bsp" /><img src="images/capt-temp.png" /></a>
      tr
        td BrewBlox (jusqu'à 2 fermenteurs)
        td 139,00 €
        td 1
        td 139,00 €
        td <a href="https://store.brewpi.com/featured/brewpi-spark-3" /><img src="images/brewblox.png" /></a>
      tr
        td Tireuse à bière (fait office de machine à froid)
        td 865,00 €
        td 1
        td 865,00 €
        td <a href="http://www.piecesfrigo.com/refroidisseur-d-eau-inox-oprema-avec-pompe-12-20-m-c2x29085116" /><img src="images/tireuse-biere.png" /></a>
      tr
        td Collier
        td 2,00 €
        td 2
        td 4,00 €
        td <a href="https://www.leroymerlin.fr/v3/p/produits/lot-de-5-colliers-simples-isophoniques-l-1-8-cm-diam-12-mm-e8533" /><img src="images/collier.png" /></a>
:markdown-it(html=true)
h2 <center>Total : 1 457,00 €</center>


template#page-footer
  style(type='text/css').
    .pdfheader {
      font-size: 10px;
      color: #aaa;
      font-family: Helvetica;
      font-weight: bold;
      width: 1000px;
      border-top: 1px solid #aaa;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 1mm;
      margin-bottom: -1mm;
      text-align: center;
    }
  
  .pdfheader Page #[span.pageNumber] / #[span.totalPages]

style
  include:scss guide.scss